body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Card styling */
.card-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.box {
    border-radius: 15px;
    padding: 30px;
    max-width: 450px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


.card-left {
    background-color: #fff;
    color: #363637;
}

.card-right {
    background: linear-gradient(135deg, #554dfa, #cd9eff);
    color: #edeff2;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-avatar {
    width: 56px;
    height: 56px;
    border: 2px solid white;
    border-radius: 50%;
}

.profile-name {
    margin: 10px;
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
}

.profile-title {
    font-size: 14px;
    margin: 10px;
    padding-left: 10px;
}

.company-left {
    font-weight: bold;
    color: #554dfa;
}

.company-right {
    font-weight: bold;
}

.rating-left {
    font-size: 14px;
    color: #ff9500;
}

.rating-right {
    font-size: 14px;
}

.card-content {
    font-size: 14px;
    line-height: 2;
    opacity: 0.6;
}

/* Hover effect */
.card-container:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}